<div class="card">
    <div class="card-header">
        <div>
            ícone
        </div>

        <button class="btn_on-off" (click)="togglePowerOnOff($event)"></button>
    </div>

    <div class="card-body">
        <div class="description">
            {{ aparelho.descricao}}
        </div>

        <div class="room-and-time">
            <div>
                {{ aparelho.comodo}}
            </div>

            <div>
                @if(tempoLigado != null) {
                    {{ tempoLigado }}
                }
            </div>
        </div>
    </div>
</div>