<section class="container">
    @for(aparelho of aparelhos; track aparelho.id) {
        <app-card-aparelho (idEmitter)="onSelectAparelho($event)" [aparelho]="aparelho"></app-card-aparelho>
    } @empty {
        <div class="start-message-container">
            Crie um aparelho para começar
        </div>
    }

    <button class="btn_excluir-aparelhos" id="btn_excluir-aparelhos" (click)="excluirAparelhos()">
        <div class="counting">
            {{ aparelhosSelecionados.length }}
        </div>
    
        Excluir
    </button>
</section>
