<main class="main-container">
    <div class="form-container">
        <form (ngSubmit)="testandoSubmit()" [formGroup]="loginForm" autocomplete="off">
            <div class="title">
                <div>Trabalho</div>
                <div class="colorful-text-container">
                    do <div class="colorful-text">Ícaro</div>
                </div>
            </div>

            <div class="input-and-button">
                <div class="form-input">
                    <label>
                        Informe sua palavra-passe
                    </label>
                    <input type="text" formControlName="palavraPasse">
                </div>
        
                <button class="button" type="submit" [disabled]="loginForm.invalid">
                    Entrar
                </button>
            </div>
        </form>
    </div>
</main>