<div class="main-container">
    <section class="form-container">
        <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
            <div class="title">
                <div>Trabalho</div>
                <div class="colorful-text-container">
                    do <div class="colorful-text">Ícaro</div>
                </div>
            </div>

            <div class="form-input-container">
                <label>
                    Qual é a sua palavra-passe?
                </label>
                <div class="form-input">
                    <input [type]="inputType" formControlName="palavraPasse" id="input_palavra-passe">
                    <button class="btn-eye-icon" type="button" (click)="ToggleInputVisibility()">
                        @if (inputType == "password") {
                            <img src="assets/images/eye-hidden-icon.svg" />
                        }
                        @else if (inputType == "text") {
                            <img src="assets/images/eye-visible-icon.svg" />
                        }
                    </button>
                </div>
            </div>

            <button class="primary-button" type="submit" [disabled]="loginForm.invalid">
                Acessar
            </button>
        </form>
    </section>
</div>