<div class="main-container">
    <section class="form-container">
        <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
            <div class="title">
                <div>Trabalho</div>
                <div class="colorful-text-container">
                    do <div class="colorful-text">Ícaro</div>
                </div>
            </div>

            <div class="input-and-button">
                <div class="form-input">
                    <label>
                        Qual é a sua palavra-passe?
                    </label>
                    <input type="text" class="custom-input" formControlName="palavraPasse">
                </div>
        
                <button class="button" type="submit" [disabled]="loginForm.invalid">
                    Acessar
                </button>
            </div>
        </form>
    </section>
</div>