<dialog id="modal-novo-usuario" class="modal-container" (close)="onClose()">
    <form (ngSubmit)="criarUsuario()" [formGroup]="novoUsuarioForm" class="modal-content" autocomplete="off">
        <div class="title">
            Novo usuário
        </div>

        <div class="input-container">
            <label>
                Nome
            </label>
            <input type="text" formControlName="nome">
        </div>

        <div class="input-container">
            <label>
                Palvara-passe
            </label>
            <input type="text" formControlName="palavraPasse">
        </div>

        <div class="options-container">
            <button class="form-button btn_tertiary" type="button" (click)="closeModal()">
                Retornar
            </button>

            <button type="submit" class="form-button btn_primary" [disabled]="novoUsuarioForm.invalid">
                Criar
            </button>
        </div>
    </form>
</dialog>
