header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    background-color: var(--background-medium);
    position: sticky;
    top: 0;
    padding-bottom: 48px;
}

nav {
    width: fit-content;
    height: 62px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navigation-item {
    position: relative;
    display: flex;
    align-items: center;

    .btn_navigation {
        color: var(--midnight);
        background-color: white;
        text-decoration: none;
        border-radius: 80px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    
        padding-right: 28px;
        padding-left: 28px;
        height: 100%;
    
        margin-right: 16px;
        border: solid 2px var(--midnight);
    }

    .btn_navigation.active {
        background-color: var(--primary);
        color: white;
        font-weight: 500;
    }
}

.navigation-item::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--midnight);
}

.navigation-item:last-of-type::after {
    content: '';
    width: 0px;
    height: 0px;
}


.active li a {
    background-color: var(--primary);
    color: white;
}

.functionalities-container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: end;
    height: 62px;

    .btn_novo-aparelho {
        height: 48px;
        background-color: var(--decorative-2);
        padding-right: 18px;
        padding-left: 18px;
        border: solid 2px var(--midnight);
        font-size: 16px;
        border-radius: 50px;
        color: var(--midnight);
        font-weight: 600;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .user-options-button-container {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
    
        .btn_user-options {
            color: var(--midnight);
            background-color: white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 24px;
            padding-left: 16px;
            height: 100%;
    
            .user-icon {
                margin-right: 8px;
            }
    
            .username {
                font-size: 16px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 0px;
                margin-left: 0px;
                margin-right: 0px;
                transition: margin-left 0.4s,
                            margin-right 0.4s,
                            max-width 0.5s;
            }
    
            .chevron-icon {
                margin-left: 8px;
    
                svg {
                    transform: rotate(0deg);
                    transition: transform 0.2s;
                }
            }
        }

        .user-options-container {
            position: absolute;
            width: fit-content;
            top: 50%;
            right: 16px;
            opacity: 0;
            pointer-events: none;
            transition: top 0.2s ease-out, opacity 0.2s;

            .btn_logout {
                color: var(--midnight);
                font-size: 16px;
                font-weight: 600;
                padding-left: 24px;
                padding-right: 24px;
                border-radius: 40px;
                border: solid 1px var(--midnight);
                display: flex;
                align-items: center;
                height: 48px;
                background-color: white;
                gap: 12px;

                svg {
                    width: 18px;

                    path {
                        stroke: var(--danger);
                        stroke-width: 3;
                    }
                }
            }
        }
    }
    
    .user-options-button-container:hover {
        .btn_user-options {
            .username {
                max-width: 150px;
                margin-left: 4px;
                margin-right: 8px;
            }
    
            .chevron-icon {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        .user-options-container {
            top: 80%;
            opacity: 1;
            pointer-events: auto;
        }
    }
}