.fixed-width-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-medium);
}

.fixed-width-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 24px;
    margin-right: 24px;
}

main {
    flex-grow: 1;
}