:root {
    --primary: #26A19B;
    --background-medium: #98FFCF;
    --primary-midnight: #002B1E;

    --decorative-1: #F4A261;
    --decorative-2: #D9A9FF;
    --decorative-3: #FF6F61;
    --decorative-4: #007BFF;
}