:root {
    --primary: #8668E6;
    --primary-active: #7c61d6;
    --secondary: #98FF98;
    --midnight: #002B1E;
    --midnight-rgb: 0, 43, 20;
    --lamp: #F7FF00;
    --fan: #D3D3D3;
    --television: #00FFFF;

    --text-medium: #717171;

    --background-light: #FAF9F6;
    --background-medium: #98FFCF;
    --background-medium-rgb: 152, 255, 207;

    --decorative-1: #F4A261;
    --decorative-2: #D9A9FF;
    --decorative-3: #26A19B;
    --decorative-4: #007BFF;

    --success: #00FF66;
    --success-rgb: 0, 255, 102;

    --turned-off: #B6AFAF;
    --turned-off-rgb: 182, 175, 175;
}