:root {
    --primary: #26A19B;
    --primary-active: #148E88;
    --primary-midnight: #002B1E;

    --background-light: #FAF9F6;
    --background-medium: #98FFCF;

    --decorative-1: #F4A261;
    --decorative-2: #D9A9FF;
    --decorative-3: #FF6F61;
    --decorative-4: #007BFF;
}